<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="EOS.InternetService.InternetService" behaviorConfiguration="InternetServiceBehavior">
        <endpoint address="http://192.168.1.222:5778/InternetService/GetVoter" binding="basicHttpBinding" contract="EOS.InternetService.IInternetService" name="GetVoterEp" />
        <endpoint address="http://192.168.1.222:5778/InternetService/SetVote" binding="basicHttpBinding" contract="EOS.InternetService.IInternetService" name="SetVoteEp" />
        <endpoint address="http://192.168.1.222:5778/InternetService/GetCandidates" binding="basicHttpBinding" contract="EOS.InternetService.IInternetService" name="GetCandidatesEp" />
        <endpoint address="http://192.168.1.222:5778/InternetService/SetFingerPrint" binding="basicHttpBinding" contract="EOS.InternetService.IInternetService" name="SetFingerPrintEp" />
      </service>

      <service name="EOS.MerkezService.MerkezService" behaviorConfiguration="MerkezServiceBehavior">
        <endpoint address="http://192.168.1.222:5779/MerkezService/GetServerDate" binding="basicHttpBinding" contract="EOS.MerkezService.IMerkezService" name="GetServerDateEp" />
        <endpoint address="http://192.168.1.222:5779/MerkezService/SetVote" binding="basicHttpBinding" contract="EOS.MerkezService.IMerkezService" name="SetVoteEp" />
        <endpoint address="http://192.168.1.222:5779/MerkezService/GetActiveElection" binding="basicHttpBinding" contract="EOS.MerkezService.IMerkezService" name="GetActiveElectionEp" />
      </service>

      <service name="TCNufusMudurlugu.srvPopulation" behaviorConfiguration="TCNufusMudurluguBehavior">
        <endpoint address="http://192.168.1.222:9999/TCNufusMudurlugu/GetData" binding="basicHttpBinding" contract="TCNufusMudurlugu.IService1" name="GetDataEp" />
        <endpoint address="http://192.168.1.222:9999/TCNufusMudurlugu/GetCitizens" binding="basicHttpBinding" contract="TCNufusMudurlugu.IService1" name="GetCitizensEp" />
      </service>
    </services>
    
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="InternetServiceBehavior">
          <serviceMetadata httpGetUrl="http://192.168.1.222:5778/InternetService" httpGetEnabled="True"/>
        </behavior>

        <behavior name="MerkezServiceBehavior">
          <serviceMetadata httpGetUrl="http://192.168.1.222:5779/MerkezService" httpGetEnabled="True"/>
        </behavior>

        <behavior name="TCNufusMudurluguBehavior">
          <serviceMetadata httpGetUrl="http://192.168.1.222:9999/TCNufusMudurlugu" httpGetEnabled="True"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="IPAdress" value="http://192.168.1.222"/>
  </appSettings>
</configuration>