<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetVoterEp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.222:5778/InternetService/GetVoter"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="srvPopulation.IInternetService" name="GetVoterEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/SetVote"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="srvPopulation.IInternetService" name="SetVoteEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/GetCandidates"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="srvPopulation.IInternetService" name="GetCandidatesEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/SetFingerPrint"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="srvPopulation.IInternetService" name="SetFingerPrintEp" />
        </client>
    </system.serviceModel>
</configuration>