USE [ESSInternet]
GO
/****** Object:  View [dbo].[VCandidates]    Script Date: 05/15/2013 00:17:19 ******/
DROP VIEW [dbo].[VCandidates]
GO
/****** Object:  View [dbo].[VVoterMachineCandidates]    Script Date: 05/15/2013 00:17:19 ******/
DROP VIEW [dbo].[VVoterMachineCandidates]
GO
/****** Object:  View [dbo].[VVoterMachineParties]    Script Date: 05/15/2013 00:17:19 ******/
DROP VIEW [dbo].[VVoterMachineParties]
GO
/****** Object:  Table [dbo].[VoteDetails]    Script Date: 05/15/2013 00:17:18 ******/
DROP TABLE [dbo].[VoteDetails]
GO
/****** Object:  Table [dbo].[Voters]    Script Date: 05/15/2013 00:17:18 ******/
DROP TABLE [dbo].[Voters]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 05/15/2013 00:17:17 ******/
DROP TABLE [dbo].[Candidates]
GO
/****** Object:  Table [dbo].[Citizens]    Script Date: 05/15/2013 00:17:17 ******/
DROP TABLE [dbo].[Citizens]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 05/15/2013 00:17:17 ******/
DROP TABLE [dbo].[Districts]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 05/15/2013 00:17:18 ******/
DROP TABLE [dbo].[Parties]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 05/15/2013 00:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parties](
	[PartyId] [int] IDENTITY(1,1) NOT NULL,
	[PartyAcr] [varchar](50) NOT NULL,
	[PartyName] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [varchar](11) NULL,
	[Manager] [varchar](11) NULL,
	[ImageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Parties] ON
INSERT [dbo].[Parties] ([PartyId], [PartyAcr], [PartyName], [CreatedAt], [CreatedBy], [Manager], [ImageUrl]) VALUES (8, N'MHP', N'Milliyetçi Hareket Partisi', CAST(0x0000A19F01427B95 AS DateTime), N'20093509402', N'71437132480', N'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/MHP_flag.svg/533px-MHP_flag.svg.png')
INSERT [dbo].[Parties] ([PartyId], [PartyAcr], [PartyName], [CreatedAt], [CreatedBy], [Manager], [ImageUrl]) VALUES (22, N'CHP', N'Cumhuriyet Halk Partisi', CAST(0x0000A1A0015E8538 AS DateTime), N'20093509402', N'20093509402', N'http://www.chp.org.tr/wp-content/uploads/CHP-Logo-Dikey.jpg')
SET IDENTITY_INSERT [dbo].[Parties] OFF
/****** Object:  Table [dbo].[Districts]    Script Date: 05/15/2013 00:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [varchar](3) NULL,
	[DistrictName] [varchar](50) NULL,
	[DistrictStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON
INSERT [dbo].[Districts] ([DistrictId], [CityId], [DistrictName], [DistrictStatus]) VALUES (1, N'1', N'Aladağ', 0)
INSERT [dbo].[Districts] ([DistrictId], [CityId], [DistrictName], [DistrictStatus]) VALUES (2, N'1', N'Ceyhan', 0)
INSERT [dbo].[Districts] ([DistrictId], [CityId], [DistrictName], [DistrictStatus]) VALUES (3, N'1', N'Çukurova', 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Districts] OFF
/****** Object:  Table [dbo].[Citizens]    Script Date: 05/15/2013 00:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Citizens](
	[IdentityNo] [varchar](11) NOT NULL,
	[Name] [varchar](100) NULL,
	[Surname] [varchar](100) NULL,
	[BirthPlace] [varchar](100) NULL,
	[BirthDate] [datetime] NULL,
	[MotherName] [varchar](100) NULL,
	[FatherName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Telephone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentityNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Citizens] ([IdentityNo], [Name], [Surname], [BirthPlace], [BirthDate], [MotherName], [FatherName], [City], [District], [Address], [Telephone]) VALUES (N'20093509402', N'Ali', N'KIZILDAĞ', N'Sivas', CAST(0x0000800300000000 AS DateTime), N'Seher', N'Hasan', N'İstanbul', N'Ataşehir', N'İnönü Mh. Kartal Cd. Gül Apt. No:62 D/8', N'5533883870')
INSERT [dbo].[Citizens] ([IdentityNo], [Name], [Surname], [BirthPlace], [BirthDate], [MotherName], [FatherName], [City], [District], [Address], [Telephone]) VALUES (N'71437132480', N'Emrullah', N'YAZLI', N'Ardahan', CAST(0x0000830B00000000 AS DateTime), N'Aynu', N'Ümmet', N'İstanbul', N'Maltepe', N'Aydınevler Mh. Ümit Sk. No:1 D/1', N'5387219186')
/****** Object:  Table [dbo].[Candidates]    Script Date: 05/15/2013 00:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateId] [varchar](11) NOT NULL,
	[ElectionId] [int] NOT NULL,
	[PartyId] [int] NULL,
	[RegionId] [int] NULL,
	[OrderNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Candidates] ([CandidateId], [ElectionId], [PartyId], [RegionId], [OrderNo]) VALUES (N'20093509402', 19, 22, 1, 1)
INSERT [dbo].[Candidates] ([CandidateId], [ElectionId], [PartyId], [RegionId], [OrderNo]) VALUES (N'71437132480', 19, 8, 2, 2)
/****** Object:  Table [dbo].[Voters]    Script Date: 05/15/2013 00:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Voters](
	[IdentityNo] [varchar](11) NOT NULL,
	[Name] [varchar](100) NULL,
	[Surname] [varchar](100) NULL,
	[BirthPlace] [varchar](100) NULL,
	[BirthDate] [datetime] NULL,
	[MotherName] [varchar](100) NULL,
	[FatherName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Telephone] [varchar](15) NULL,
	[RegionId] [int] NULL,
	[CreatedFrom] [int] NULL,
	[VoterStatus] [bit] NULL,
	[BiometricPath] [varchar](255) NULL,
	[Handicapped] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentityNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Voters] ([IdentityNo], [Name], [Surname], [BirthPlace], [BirthDate], [MotherName], [FatherName], [City], [District], [Address], [Telephone], [RegionId], [CreatedFrom], [VoterStatus], [BiometricPath], [Handicapped], [CreatedAt], [CreatedBy]) VALUES (N'20093509402', N'Ali', N'KIZILDAĞ', N'Sivas', CAST(0x0000800300000000 AS DateTime), N'Seher', N'Hasan', N'İstanbul', N'Ataşehir', N'İnönü Mh. Kartal Cd. Gül Apt. No:62 D/8', N'5533883870', 1, 1, 1, N'3', 0, CAST(0x0000A19F01868ACC AS DateTime), N'20093509402')
INSERT [dbo].[Voters] ([IdentityNo], [Name], [Surname], [BirthPlace], [BirthDate], [MotherName], [FatherName], [City], [District], [Address], [Telephone], [RegionId], [CreatedFrom], [VoterStatus], [BiometricPath], [Handicapped], [CreatedAt], [CreatedBy]) VALUES (N'71437132480', N'Emrullah', N'YAZLI', N'Ardahan', CAST(0x0000830B00000000 AS DateTime), N'Aynur', N'Ümmet', N'İstanbul', N'Maltepe', N'Aydınevler Mh. Ümit Sk. No:1 D/1', N'5387219186', 1, 1, 1, N'1', 0, CAST(0x0000A1A701069D72 AS DateTime), N'20093509402')
/****** Object:  Table [dbo].[VoteDetails]    Script Date: 05/15/2013 00:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VoteDetails](
	[IdentityNo] [varchar](11) NOT NULL,
	[ElectionId] [int] NOT NULL,
	[RegionId] [int] NULL,
	[DistrictId] [int] NULL,
	[VotingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentityNo] ASC,
	[ElectionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[VoteDetails] ([IdentityNo], [ElectionId], [RegionId], [DistrictId], [VotingDate]) VALUES (N'20093509402', 19, 1, 418, CAST(0x0000A1BE018749CE AS DateTime))
/****** Object:  View [dbo].[VVoterMachineParties]    Script Date: 05/15/2013 00:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VVoterMachineParties]
AS
SELECT p.PartyId, p.PartyAcr,p.PartyName,v.Name,v.Surname,p.ImageUrl FROM dbo.Parties p
INNER JOIN Voters v ON v.IdentityNo = p.Manager
GO
/****** Object:  View [dbo].[VVoterMachineCandidates]    Script Date: 05/15/2013 00:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VVoterMachineCandidates] AS
SELECT ct.Name ,ct.Surname,e.ElectionId ,p.PartyId,r.RegionId,c.OrderNo FROM dbo.Candidates c
INNER JOIN Citizens ct ON ct.IdentityNo = c.CandidateId
INNER JOIN Parties p ON p.PartyId = c.PartyId
INNER JOIN ESSMerkez.dbo.Regions r ON r.RegionId = c.RegionId
INNER JOIN ESSMerkez.dbo.Elections e ON e.ElectionId = c.ElectionId
GO
/****** Object:  View [dbo].[VCandidates]    Script Date: 05/15/2013 00:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VCandidates] AS
SELECT c.CandidateId,ct.Name ,ct.Surname,e.Name AS ElectionName,p.PartyAcr,p.ImageUrl,r.Region,c.OrderNo FROM dbo.Candidates c
INNER JOIN Citizens ct ON ct.IdentityNo = c.CandidateId
INNER JOIN Parties p ON p.PartyId = c.PartyId
INNER JOIN ESSMerkez.dbo.Regions r ON r.RegionId = c.RegionId
INNER JOIN ESSMerkez.dbo.Elections e ON e.ElectionId = c.ElectionId
GO
