<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetVoterEp" />
                <binding name="GetServerDateEp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.222:5778/InternetService/GetVoter"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="InternetService.IInternetService" name="GetVoterEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/SetVote"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="InternetService.IInternetService" name="SetVoteEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/GetCandidates"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="InternetService.IInternetService" name="GetCandidatesEp" />
            <endpoint address="http://192.168.1.222:5778/InternetService/SetFingerPrint"
                binding="basicHttpBinding" bindingConfiguration="GetVoterEp"
                contract="InternetService.IInternetService" name="SetFingerPrintEp" />
            <endpoint address="http://192.168.1.222:5779/MerkezService/GetServerDate"
                binding="basicHttpBinding" bindingConfiguration="GetServerDateEp"
                contract="MerkezService.IMerkezService" name="GetServerDateEp" />
            <endpoint address="http://192.168.1.222:5779/MerkezService/SetVote"
                binding="basicHttpBinding" bindingConfiguration="GetServerDateEp"
                contract="MerkezService.IMerkezService" name="SetVoteEp1" />
            <endpoint address="http://192.168.1.222:5779/MerkezService/GetActiveElection"
                binding="basicHttpBinding" bindingConfiguration="GetServerDateEp"
                contract="MerkezService.IMerkezService" name="GetActiveElectionEp" />
        </client>
    </system.serviceModel>
</configuration>